[diff "UE_Diff"]
    tool = UE_Diff_Tool
    binary = true
[difftool "UE_Diff_Tool"]
    cmd = "GitUEDiff \"$REMOTE\" \"$LOCAL\""
[merge "UE_Merge"]
    tool = UE_Merge_Tool
    binary = true
[mergetool "UE_Merge_Tool"]
    cmd = "GitUEDiff \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\""